/* Task 1 */
/*
.eee i {
    color: red;
}*/


/* Task 2 */
/*
.eee .bbb {
	color: red;
}*/


/* Task 3 */
/*
.eee h2 {
	color: red;
}*/


/* Task 4 */
/*
.eee h2.bbb {
	color: red;
}*/


/* Task 5 */
/*
.eee h3.bbb {
	color: red;
}*/


/* Task 6 */
/*
.eee p.bbb {
	color: red;
}*/


/* Task 7 */
/*
.eee .bbb .kkk {
	color: red;
}*/