    /*Task 1*/
/*
.success {
    color: green;
}
.error {
    color: red;
}
.large {
    font-size: 30px;
}
.small {
    font-size: 20px;
}/*


    /*Task 2.1*/
/*
.eee {
    font-weight: bold;
}
.kkk {
    font-style: italic;
}
.aaa {
    color: yellowgreen;
}
.www {
    color: orangered;
}*/


    /*Task 2.2*/
/*
.eee {
 font-weight: bold;
}
.kkk {
 font-style: italic;
}
.aaa {
 text-decoration: overline;
    color:green;
}
.www {
 text-decoration: line-through;
    color: red;
}*/


    /*Task 2.3*/
/*
.eee {
 font-weight: bold;
    text-indent: 50px;
}
.kkk {
 font-style: italic;
}
.aaa {
 text-decoration: underline;
    color:green;
    font-size: 30px;
}
.www {
 text-decoration: line-through;
    color: red;
    font-size: 40px;
}*/