    /*Task 1*/
/*
#elem h2 {
    color: aquamarine;
}*/


    /*Task 2*/
/*
#elem .text {
    color: blueviolet;
}*/


    /*Task 3*/
/*
#elem p.text {
    color:red;
}*/


    /*Task 4*/
/*
#elem li.text {
    color: green;
}*/