/* Task 1
В приведенном ниже коде, селектор выбирает одновременно классы bbb и zzz.*/
/*
.bbb.zzz {
	color: red;
}*/

/*Task 2
Cледующий селектор выберает заголовок h2, одновременно имеющий класс bbb
и класс zzz*/
/*
h2.bbb.zzz {
    color: red;
}*/

/*Task 3
Данный селектор выбирает id elem и класс bbb.*/
/*
#elem.bbb {
	color: red;
}*/

/*Task 4
Селектор выбирает одновременно id elem и классы bbb и zzz*/
/*
#elem.bbb.zzz {
	color: red;
}*/

/*Task 5
Селектор выбирает заголовок h2 одновременно с id elem и классом bbb*/
/*
h2#elem.bbb {
	color: red;
}*/

/*Task 6
Селектор выбирает заголовок h2 одновременно с классом zzz*/
/*
h2.zzz {
	color: red;
}*/

/*Task 7
Селектор выбирает заголовок h2 внутри класса zzz*/
/*
h2 .zzz {
	color: red;
}*/

/*Task 8
Селектор выбирает одновременно два класса*/
/*
.bbb.zzz {
	color: red;
}*/

/*Task 9
Селектор выбирает класс zzz внутри класса bbb*/
/*
.bbb .zzz {
	color: red;
}*/

/*Task 10
Селектор выбирает одновременно три класса*/
/*
.bbb.zzz.xxx {
	color: red;
}*/

/*Task 11
Селектор выбирает одновременно класс zzz и xxx внутри класса bbb*/
/*
.bbb .zzz.xxx {
	color: red;
}*/

/*Task 12
Селектор находит одновременно класс bbb и zzz, внутри которого 
выбирает класс xxx*/
/*
.bbb.zzz .xxx {
	color: red;
}*/

/*Task 13
Селектор выбирает класс xxx внутри класса zzz, находящегося внутри 
класса bbb*/
/*
.bbb .zzz .xxx {
	color: red;
}*/

/*Task 14
Селектор выбирает одновременно id elem с классом bbb*/
/*
#elem.bbb {
	color: red;
}*/

/*Task 15
Селектор выбирает класс bbb внутри id elem*/
/*
#elem .bbb {
	color: red;
}*/