/* Task 1 
Размер заголовков будет 30px, т.к. вторая запись переопределяет первую.
*/
/*
h2 {
	font-size: 20px;
}
h2 {
	font-size: 30px;
}*/



/* Task 2 
Вторая запись переопределяет первую и заголовки станут красного цвета,
а где свойства разные, то просто применятся свойства и одного, и второго
заголовка.*/
/*
h2 {
	font-size: 20px;
	color: blue;
}
h2 {
	font-style: italic;
	color: red;
}*/
