/* Task 1 
Селектор выбирает все типы ссылок одновременно,
а потом ниже добавляется особенность поведения ссылки при наведении мышкой.
*/
/*
a {
	color: red;
}
a:hover {
	text-decoration: none;
}*/


/* Task 2
Селектор выбирает все типы ссылок с классом zzz,
а потом ниже добавляется особенность поведения ссылки при наведении мышкой.
*/
/*
a.zzz {
	color: red;
}
a.zzz:hover {
	text-decoration: none;
}*/


/* Task 3
Селектор выбирает все типы ссылок с классом zzz внутри id,
а потом ниже добавляется особенность поведения ссылки при наведении мышкой.
*/
/*
#block a.zzz {
	color: red;
}
#block a.zzz:hover {
	text-decoration: none;
}*/


/* Task 4
Селектор выбирает все типы ссылок с классом zzz внутри класса block,
а потом ниже добавляется особенность поведения ссылки при наведении мышкой.
*/
/*
.block a.zzz {
	color: red;
}
.block a.zzz:hover {
	text-decoration: none;
}*/